/*.profile-pic {
    width: 200px;
    //border: solid 2px red;
    padding: 5px;
    background: red;
    clip-path: polygon(20% 0%, 40% 0%, 100% 0%, 80% 100%, 0% 100%);
}*/

:root {
    --shape: polygon(20% 0%, 40% 0%, 100% 0%, 80% 100%, 0% 100%);
    --radius: 5px;
}

.profile-wrapper {
    width: 200px;
    padding: 2px;
    background: red;
    border-radius: var(--radius);
    clip-path: var(--shape);
}

.profile-pic {
    width: 100%;
    display: block;
    border-radius: var(--radius);
    clip-path: var(--shape);
}

input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid blue;
    border-radius: var(--radius);
}

button {
    background: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--radius);
    font-weight: bold;
}

button[title] {
    position: relative;
}

#delete-btn {
    background: white;
    color: blue;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: var(--radius);
    font-weight: bold;
}

button[title]::after {
    content: attr(title);
    position: absolute;
    opacity: 0;

    background: blue;
    color: white;
    bottom: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 5px 8px;
    border-radius: var(--radius);

}

button[title]:hover::after {
    opacity: 1;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

.card {
    background: white;
    padding: 20px;
    border: 1px solid blue;
    border-radius: var(--radius);
}